<mat-card class="input-card">
    <mat-card-title>CUSTOMER INPUT:</mat-card-title>
    <form>
        <div class="horizontal-order">
            <mat-form-field class="email-input" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Ex. pat@example.com" [(ngModel)]="emailInput"
                    (ngModelChange)="modelChangeFn($event, 'email')" name="emailInputField" />
                <button *ngIf="emailInput" matSuffix mat-icon-button aria-label="Clear" (click)="emailInput=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <p class="middle-text">OR</p>
            <mat-form-field class="account-id-input" appearance="fill">
                <mat-label>NFM account</mat-label>
                <input matInput placeholder="Ex. 325898524" [(ngModel)]="accountInput"
                    (ngModelChange)="modelChangeFn($event, 'accountId')" name="accountInputField" />
                <button *ngIf="accountInput" matSuffix mat-icon-button aria-label="Clear" (click)="accountInput=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </form>
    <p *ngIf="showErrorMessage" class="error-message">
        At least one input is required!
    </p>
    <mat-card-actions class="action-button">
        <button (click)="lookup_EVENT()" mat-raised-button color="primary">
            VIEW
        </button>
    </mat-card-actions>
</mat-card>

<mat-card class="input-card" *ngIf="showUserInfoSection">
    <div class="horizontal-order justify-center" *ngIf="loading">
        <mat-card-content class="text-center">
            <p>Loading</p>
            <mat-spinner [diameter]="30"></mat-spinner>
        </mat-card-content>
    </div>
    <div *ngIf="!loading">
        <mat-card-title>CUSTOMER INFO DISPLAY:</mat-card-title>
        <mat-divider></mat-divider>
        <div class="vertical-order" *ngIf="searchType == 'email'">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let e of emails; let i = index" (opened)="panelOpenState = true;"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            CUSTOMERID: {{ e.nfmAccountId }}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ e.pEmail }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="horizontal-order justify-center" *ngIf="updating">
                        <mat-card-content class="text-center">
                            <p>Updating</p>
                            <mat-spinner [diameter]="30"></mat-spinner>
                        </mat-card-content>
                    </div>
                    <form id="myForm" [formGroup]="myForm" *ngIf="!updating">
                        <div [formArrayName]="'formArray'" class="horizontal-order">
                            <div class="vertical-order" *ngFor="let customer of e.customers; let i = index"
                                [formGroupName]="i">
                                <mat-form-field class="account-id-input hidden" appearance="fill">
                                    <mat-label>NFM Account Id</mat-label>
                                    <input formControlName="NFMAccountId" matInput [value]="customer.nfmAccountId" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input hidden" appearance="fill">
                                    <mat-label>Account Id</mat-label>
                                    <input formControlName="Id" matInput [value]="customer.accountId" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input hidden" appearance="fill">
                                    <mat-label>Party Id</mat-label>
                                    <input formControlName="partyId" matInput [value]="customer.partyId" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input hidden" appearance="fill">
                                    <mat-label>Party Type Id</mat-label>
                                    <input formControlName="partyTypeId" matInput [value]="customer.partyTypeId" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input hidden" appearance="fill">
                                    <mat-label>Account Party Type</mat-label>
                                    <input formControlName="accountPartyType" matInput
                                        [value]="customer.accountPartyType" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input hidden" appearance="fill">
                                    <mat-label>Party Type Name</mat-label>
                                    <input formControlName="partyTypeName" matInput [value]="customer.partyTypeName" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input" appearance="fill">
                                    <mat-label>First Name</mat-label>
                                    <input formControlName="FirstName" matInput [value]="customer.firstName" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input" appearance="fill">
                                    <mat-label>Middle Name</mat-label>
                                    <input formControlName="MiddleName" matInput [value]="customer.middleName" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input" appearance="fill">
                                    <mat-label>Last Name</mat-label>
                                    <input formControlName="LastName" matInput [value]="customer.lastName" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input hidden" appearance="fill">
                                    <mat-label>Date Of Birth</mat-label>
                                    <input formControlName="dateOfBirth" matInput [value]="customer.dateOfBirth" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input hidden" appearance="fill">
                                    <mat-label>Occupation Name</mat-label>
                                    <input formControlName="OccupationName" matInput
                                        [value]="customer.occupationName" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input hidden" appearance="fill">
                                    <mat-label>Employer Name</mat-label>
                                    <input formControlName="EmployerName" matInput [value]="customer.employerName" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input" appearance="fill">
                                    <mat-label>Address 1</mat-label>
                                    <input formControlName="AddressLineOneText" matInput
                                        [value]="customer.addressLineOneText" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input" appearance="fill">
                                    <mat-label>Address 2</mat-label>
                                    <input formControlName="AddressLineTwoText" matInput
                                        [value]="customer.addressLineTwoText" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input" appearance="fill">
                                    <mat-label>City Name</mat-label>
                                    <input formControlName="AddressCityName" matInput
                                        [value]="customer.addressCityName" />
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="account-id-input disabled">
                                    <mat-label>State</mat-label>
                                    <mat-select formControlName="AddressStateProvinceCode"
                                        [(value)]="customer.addressStateProvinceCode">
                                        <mat-option></mat-option>
                                        <mat-option *ngFor="let state of allStates"
                                            [value]="customer.addressStateProvinceCode">
                                            {{ state }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="account-id-input" appearance="fill">
                                    <mat-label>Zip Code</mat-label>
                                    <input formControlName="addressPostalPlusFourCode" matInput
                                        [value]="customer.addressPostalPlusFourCode" />
                                </mat-form-field>
                                <mat-form-field class="account-id-input" appearance="fill">
                                    <mat-label>Country Code</mat-label>
                                    <input formControlName="AddressCountryCode" matInput
                                        [value]="customer.addressCountryCode" />
                                </mat-form-field>

                                <mat-form-field class="account-id-input disabled" appearance="fill">
                                    <mat-label>Phone Work</mat-label>
                                    <input formControlName="PhoneWork" matInput [value]="customer.phoneWork" readonly />
                                </mat-form-field>
                                <mat-form-field class="account-id-input disabled" appearance="fill">
                                    <mat-label>Phone Home</mat-label>
                                    <input formControlName="PhoneHome" matInput [value]="customer.phoneHome" readonly />
                                </mat-form-field>
                                <mat-form-field class="account-id-input disabled" appearance="fill">
                                    <mat-label>Phone Mobile</mat-label>
                                    <input formControlName="PhoneMobile" matInput [value]="customer.phoneMobile"
                                        readonly />
                                </mat-form-field>

                                <mat-form-field class="account-id-input" appearance="fill"
                                    *ngIf="customer.accountPartyType == 'Primary'">
                                    <mat-label>pEmail Editable</mat-label>
                                    <input formControlName="pEmailId" matInput class="hidden" />
                                    <input formControlName="pEmailString" matInput />
                                    <input formControlName="pEmail" matInput class="hidden" />
                                </mat-form-field>

                                <mat-form-field class="account-id-input" appearance="fill"
                                    *ngIf="customer.accountPartyType == 'Joint'">
                                    <mat-label>jEmail Editable</mat-label>
                                    <input formControlName="jEmailId" matInput class="hidden" />
                                    <input formControlName="jEmailString" matInput />
                                    <input formControlName="jEmail" matInput class="hidden" />
                                </mat-form-field>
                                <!-- <button *ngIf="formControlState(i)" (click)="toggleEdit(i)">Enable Edit</button>
                <button *ngIf="!formControlState(i)" (click)="toggleEdit(i)">Save</button> -->
                            </div>
                        </div>
                        <button (click)="update_EVENT()" mat-raised-button color="primary" *ngIf="!userNotFound">
                            UPDATE
                        </button>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="vertical-order" *ngIf="searchType == 'account'">
            <div class="horizontal-order justify-center" *ngIf="updating">
                <mat-card-content class="text-center">
                    <p>Updating</p>
                    <mat-spinner [diameter]="30"></mat-spinner>
                </mat-card-content>
            </div>
            <form id="myForm" [formGroup]="myForm" *ngIf="!updating">
                <div [formArrayName]="'formArray'" class="horizontal-order">
                    <div class="vertical-order" *ngFor="let customer of customers; let i = index" [formGroupName]="i">
                        <mat-form-field class="account-id-input hidden" appearance="fill">
                            <mat-label>NFM Account Id</mat-label>
                            <input formControlName="NFMAccountId" matInput [value]="customer.nfmAccountId" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input hidden" appearance="fill">
                            <mat-label>Account Id</mat-label>
                            <input formControlName="Id" matInput [value]="customer.accountId" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input hidden" appearance="fill">
                            <mat-label>Party Id</mat-label>
                            <input formControlName="partyId" matInput [value]="customer.partyId" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input hidden" appearance="fill">
                            <mat-label>Party Type Id</mat-label>
                            <input formControlName="partyTypeId" matInput [value]="customer.partyTypeId" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input hidden" appearance="fill">
                            <mat-label>Account Party Type</mat-label>
                            <input formControlName="accountPartyType" matInput [value]="customer.accountPartyType" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input hidden" appearance="fill">
                            <mat-label>Party Type Name</mat-label>
                            <input formControlName="partyTypeName" matInput [value]="customer.partyTypeName" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input" appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input formControlName="FirstName" matInput [value]="customer.firstName" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input" appearance="fill">
                            <mat-label>Middle Name</mat-label>
                            <input formControlName="MiddleName" matInput [value]="customer.middleName" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input" appearance="fill">
                            <mat-label>Last Name</mat-label>
                            <input formControlName="LastName" matInput [value]="customer.lastName" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input hidden" appearance="fill">
                            <mat-label>Date Of Birth</mat-label>
                            <input formControlName="dateOfBirth" matInput [value]="customer.dateOfBirth" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input hidden" appearance="fill">
                            <mat-label>Occupation Name</mat-label>
                            <input formControlName="OccupationName" matInput [value]="customer.occupationName" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input hidden" appearance="fill">
                            <mat-label>Employer Name</mat-label>
                            <input formControlName="EmployerName" matInput [value]="customer.employerName" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input" appearance="fill">
                            <mat-label>Address 1</mat-label>
                            <input formControlName="AddressLineOneText" matInput
                                [value]="customer.addressLineOneText" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input" appearance="fill">
                            <mat-label>Address 2</mat-label>
                            <input formControlName="AddressLineTwoText" matInput
                                [value]="customer.addressLineTwoText" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input" appearance="fill">
                            <mat-label>City Name</mat-label>
                            <input formControlName="AddressCityName" matInput [value]="customer.addressCityName" />
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="account-id-input disabled">
                            <mat-label>State</mat-label>
                            <mat-select formControlName="AddressStateProvinceCode"
                                [(value)]="customer.addressStateProvinceCode">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let state of allStates" [value]="customer.addressStateProvinceCode">
                                    {{ state }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="account-id-input" appearance="fill">
                            <mat-label>Zip Code</mat-label>
                            <input formControlName="addressPostalPlusFourCode" matInput
                                [value]="customer.addressPostalPlusFourCode" />
                        </mat-form-field>
                        <mat-form-field class="account-id-input" appearance="fill">
                            <mat-label>Country Code</mat-label>
                            <input formControlName="AddressCountryCode" matInput
                                [value]="customer.addressCountryCode" />
                        </mat-form-field>

                        <mat-form-field class="account-id-input disabled" appearance="fill">
                            <mat-label>Phone Work</mat-label>
                            <input formControlName="PhoneWork" matInput [value]="customer.phoneWork" readonly />
                        </mat-form-field>
                        <mat-form-field class="account-id-input disabled" appearance="fill">
                            <mat-label>Phone Home</mat-label>
                            <input formControlName="PhoneHome" matInput [value]="customer.phoneHome" readonly />
                        </mat-form-field>
                        <mat-form-field class="account-id-input hidden" appearance="fill">
                            <mat-label>Phone Mobile</mat-label>
                            <input formControlName="PhoneMobile" matInput readonly />
                        </mat-form-field>

                        <mat-form-field class="account-id-input" appearance="fill"
                            *ngIf="customer.accountPartyType == 'Primary'">
                            <mat-label>pEmail Editable</mat-label>
                            <input formControlName="pEmailId" matInput class="hidden" />
                            <input formControlName="pEmailString" matInput />
                            <input formControlName="pEmail" matInput class="hidden" />
                        </mat-form-field>

                        <mat-form-field class="account-id-input" appearance="fill"
                            *ngIf="customer.accountPartyType == 'Joint'">
                            <mat-label>jEmail Editable</mat-label>
                            <input formControlName="jEmailId" matInput class="hidden" />
                            <input formControlName="jEmailString" matInput />
                            <input formControlName="jEmail" matInput class="hidden" />
                        </mat-form-field>
                        <!-- <button *ngIf="formControlState(i)" (click)="toggleEdit(i)">Enable Edit</button>
            <button *ngIf="!formControlState(i)" (click)="toggleEdit(i)">Save</button> -->
                    </div>
                </div>
                <button (click)="update_EVENT()" mat-raised-button color="primary" *ngIf="!userNotFound">
                    UPDATE
                </button>
            </form>
        </div>
        <p *ngIf="userNotFound" class="error-message">User not found!</p>
        <!-- <mat-card-actions *ngIf="!userNotFound" class="action-button">
            <button (click)="update_EVENT()" mat-raised-button color="primary" disabled>
                UPDATE
            </button>
        </mat-card-actions> -->
    </div>
</mat-card>