.input-card {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.email-input {
  width: 350px;
}

.account-id-input {
  width: 350px;
}

.error-message {
  color: red;
}

.action-button {
  margin-left: auto;
}

.horizontal-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 0 10px;
}

.middle-text {
  margin: auto;
  font-weight: 600;
}

.user-name {
  font-weight: 600;
  font-size: 15px;
}

.user-info-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.horizontal-card-content {
  // margin-left: auto;
}

.justify-center {
  justify-content: center;
}

.mat-spinner {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}
